.side-nav {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
    justify-content: start;
    width: 300px;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.nav--header {
    color: gray;
    font-size: 14px;
}

.nav--list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav--item {
    width: 100%;
    display: block;
}

.nav--link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    background-color: var(--primary-light-gray);
    padding: 10px 20px;
    width: 100%;
    border-radius: 30px;
    transition: all 200ms ease-in-out;

    &:hover {
        background-color: var(--primary-gray);
    }
}

.nav--text {
    color: black;
    font-size: 16px;
}

.nav--img {
    color: black;
}
