.side-nav {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
    justify-content: start;
    width: 300px;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}

.nav--list {
    list-style: none;
}

.nav--link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.nav--text {
    color: black;
    font-size: 18px;
}

.nav--img {
    color: black;
}
