.header {
    background-color: var(--primary-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 30px 30px 0 0;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.user--details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.user--name {
    line-height: 120%;
}

.user--image {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.user--image img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 50px;
}
