.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    height: 96dvh;
    margin-top: 20px;
    overflow-y: auto;
}

.side-nav {
    background-color: var(--primary-bg);
    border-radius: 30px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    overflow-y: hidden;
    height: 96dvh;
}

.wrapper-main {
    border-radius: 30px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.main {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    height: 100%;
}
