.btn {
    font-size: 18px;
    border-radius: 50px;
    border: transparent;
    padding: 12px 20px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    width: fit-content;

    &:hover {
        background-color: var(--primary-hover-color);
    }
}

.btn__add-burger {
    background-color: var(--primary-color);
    color: white;
    margin-inline: auto;
}
